# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# Eclipse
*.classpath
*.project
*.settings/

# IntelliJ
.idea/
*.iml
out/

# NetBeans
nbproject/private/
build/
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env

# Node.js (nếu dùng cho commitlint/husky)
/node_modules/
/.husky/
/package-lock.json

# Others
*.swp